@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Satoshi-Regular';
    src: url('../public/Satoshi-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-Medium';
    src: url('../public/Satoshi-Medium.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-Regular';
    src: url('../public/Satoshi-Bold.ttf');
    font-weight: 800;
    font-style: bold;
}

main {
    font-family: 'Satoshi-Regular';
}

.name {
    font-family: 'Satoshi-Regular';
    font-weight: 800;
}

.title {
    font-family: 'Satoshi-Medium';
    animation: color-change 5s infinite;
    font-weight: 600;
}

#work:hover .name, #hustles:hover .name, #writings:hover .name, #socials:hover .name{
    animation: color-change 5s infinite;
}
 
#my-name {
    animation: color-change2 5s infinite;

}
  @keyframes color-change {
    0% { color: red; }
    25% { color: blue; }
    50% {color: orange;}
    75% {color: green;}
    100% { color: red; }
  }

  @keyframes color-change2 {
    0% { color: blue; }
    25% { color: red; }
    50% {color: green;}
    75% {color: orange ;}
    100% { color: blue; }
  }

